# Neural Networks

In [1]:
import warnings
# Suppress all warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
# Load the data
df = pd.read_csv('BankRecords.csv')
df.head()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Education,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard
0,1,25,1,49,91107,4,1.6,Diploma,0,No,Yes,No,No,No
1,2,45,19,34,90089,3,1.5,Diploma,0,No,Yes,No,No,No
2,3,39,15,11,94720,1,1.0,Diploma,0,No,No,No,No,No
3,4,35,9,100,94112,1,2.7,Degree,0,No,No,No,No,No
4,5,35,8,45,91330,4,1.0,Degree,0,No,No,No,No,Yes

## Data Preparation

In [4]:
# Renaming some of the columns to remove especial characters
df = df.rename(columns={
    'Experience(Years)': 'Experience_years',
    'Income(Thousands\'s)': 'Income_thousands',
    'Mortgage(Thousands\'s)' : 'Mortgage_thousands'
})

### Checking the dataframe's characteristics

In [5]:
df.shape

(5000, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience_years    5000 non-null   int64
 3   Income_thousands    5000 non-null   int64
 4   Sort Code           5000 non-null   int64
 5   Family              5000 non-null   int64
 6   Credit Score        5000 non-null   float64
 7   Education           5000 non-null   object
 8   Mortgage_thousands  5000 non-null   int64
 9   Personal Loan       5000 non-null   object
 10  Securities Account  5000 non-null   object
 11  CD Account          5000 non-null   object
 12  Online Banking      5000 non-null   object
 13  CreditCard          5000 non-null   object
dtypes: float64(1), int64(7), object(6)
memory usage: 547.0+ KB

In [7]:
df.describe()

,ID,Age,Experience_years,Income_thousands,Sort Code,Family,Credit Score,Mortgage_thousands
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,56.498800
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,101.713802
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,101.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,635.000000

When checking the values of the numerical columns,  negative values can be observed in column 'Experience_years'. Negative values for experience are not realistic, for this reason they are going to be removed.

Double checking to confirm the existence of negative values.

In [69]:
# Select the numerical columns from the DataFrame
df_numerical = df[['Age', 'Experience_years', 'Income_thousands', 'Family', 'Credit Score', 'Mortgage_thousands']]

# Check for negative numbers in the selected numerical columns
negative_values = (df_numerical < 0)

# Check if there are any negative values in each column
print("\nColumns with negative values:\n", negative_values.any())

# If you want to get the exact locations of negative values
print("\nLocations of negative values:\n", df_numerical[df_numerical < 0].stack())

Columns with negative values:
 Age                   False
Experience_years       True
Income_thousands      False
Family                False
Credit Score          False
Mortgage_thousands    False
dtype: bool

Locations of negative values:
 89    Experience_years   -1.0
226   Experience_years   -1.0
315   Experience_years   -2.0
451   Experience_years   -2.0
524   Experience_years   -1.0
536   Experience_years   -1.0
540   Experience_years   -1.0
576   Experience_years   -1.0
583   Experience_years   -1.0
597   Experience_years   -2.0
649   Experience_years   -1.0
670   Experience_years   -1.0
686   Experience_years   -1.0
793   Experience_years   -2.0
889   Experience_years   -2.0
909   Experience_years   -1.0
1173  Experience_years   -1.0
1428  Experience_years   -1.0
1522  Experience_years   -1.0
1905  Experience_years   -1.0
2102  Experience_years   -1.0
2430  Experience_years   -1.0
2466  Experience_years   -2.0
2545  Experience_years   -1.0
2618  Experience_years   -3.0
2717  Experience_years   -2.0
2848  Experience_years   -1.0
2876  Experience_years   -2.0
2962  Experience_years   -2.0
2980  Experience_years   -1.0
3076  Experience_years   -1.0
3130  Experience_years   -2.0
3157  Experience_years   -1.0
3279  Experience_years   -1.0
3284  Experience_years   -1.0
3292  Experience_years   -1.0
3394  Experience_years   -1.0
3425  Experience_years   -1.0
3626  Experience_years   -3.0
3796  Experience_years   -2.0
3824  Experience_years   -1.0
3887  Experience_years   -2.0
3946  Experience_years   -1.0
4015  Experience_years   -1.0
4088  Experience_years   -1.0
4116  Experience_years   -2.0
4285  Experience_years   -3.0
4411  Experience_years   -2.0
4481  Experience_years   -2.0
4514  Experience_years   -3.0
4582  Experience_years   -1.0
4957  Experience_years   -1.0
dtype: float64

### Dropping unnecessary columns
Features 'ID' and 'Sort Code' don't provide any meaningful relationship with the target variable and will be removed to reduce noise introduced into the model. All other features will be used in the model.

In [8]:
df.drop(columns=['ID', 'Sort Code'], inplace=True)

### Encoding categorical variables

This step transforms categories into a format that can be provided to the model.

In [9]:
# Encode categorical values using dummies
categorical_columns = ['Education', 'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking', 'CreditCard']
df_encoded = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

In [10]:
from sklearn.model_selection import train_test_split

# Define the feature matrix X and the target vector y
X = df_encoded.drop('Income_thousands', axis=1)
y = df_encoded['Income_thousands']

# Split the data for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

### Scaling features
Standardazing them to have a mean of 0 and a standard deviation of 1.
It Helps in speeding up training and improves model performance.

In [11]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Fit and transform the training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform the testing data
X_test_scaled = scaler.transform(X_test)

In [14]:
X_train_scaled.shape

(4000, 12)

## Neural Network Model

The input layer has as many neurons as there are features in the dataset, ensuring each feature is represented. The first hidden layer has 64 neurons with a 'ReLU' activation function. The second hidden layer has 32 neurons with a 'ReLU' activation function, so the model can learn more complex patterns in the data.

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the neural network model
model_nn = Sequential()
model_nn.add(Dense(64, input_dim=X_train_scaled.shape[1], activation='relu'))
model_nn.add(Dense(32, activation='relu'))
model_nn.add(Dense(1))

# Compile the model
model_nn.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error'])

# Train the model
model_nn.fit(X_train_scaled, y_train, validation_data=(X_test_scaled, y_test), epochs=100, batch_size=32)

# Evaluate the neural network model
mae_nn = model_nn.evaluate(X_test_scaled, y_test)[1]

Epoch 1/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 6903.8813 - mean_absolute_error: 69.7544 - val_loss: 3734.2634 - val_mean_absolute_error: 47.9405
Epoch 2/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2483.0386 - mean_absolute_error: 37.9947 - val_loss: 916.8630 - val_mean_absolute_error: 24.1640
Epoch 3/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 930.8235 - mean_absolute_error: 24.3011 - val_loss: 874.4266 - val_mean_absolute_error: 23.6542
Epoch 4/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 877.2695 - mean_absolute_error: 23.6607 - val_loss: 857.5135 - val_mean_absolute_error: 23.3572
Epoch 5/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 862.7688 - mean_absolute_error: 23.2936 - val_loss: 846.2256 - val_mean_absolute_error: 23.3299
Epoch 6/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 812.4186 - mean_absolute_error: 22.7017 - val_loss: 835.7298 - val_mean_absolute_error: 22.9656
Epoch 7/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 825.2957 - mean_absolute_error: 22.8268 - val_loss: 831.0684 - val_mean_absolute_error: 23.0407
Epoch 8/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 798.5421 - mean_absolute_error: 22.5355 - val_loss: 819.2935 - val_mean_absolute_error: 22.8620
Epoch 9/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 813.9059 - mean_absolute_error: 22.8649 - val_loss: 812.4767 - val_mean_absolute_error: 22.7505
Epoch 10/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 820.5460 - mean_absolute_error: 22.8880 - val_loss: 809.5748 - val_mean_absolute_error: 22.3455
Epoch 11/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 787.3696 - mean_absolute_error: 22.1575 - val_loss: 804.6802 - val_mean_absolute_error: 22.3831
Epoch 12/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 781.5493 - mean_absolute_error: 21.9418 - val_loss: 796.9884 - val_mean_absolute_error: 22.1860
Epoch 13/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 810.1497 - mean_absolute_error: 22.4534 - val_loss: 794.4954 - val_mean_absolute_error: 22.2586
Epoch 14/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 786.6718 - mean_absolute_error: 22.0028 - val_loss: 790.5043 - val_mean_absolute_error: 22.1544
Epoch 15/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 810.5787 - mean_absolute_error: 22.3023 - val_loss: 789.6737 - val_mean_absolute_error: 22.1834
Epoch 16/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 748.5222 - mean_absolute_error: 21.7857 - val_loss: 790.3760 - val_mean_absolute_error: 22.3181
Epoch 17/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 734.2309 - mean_absolute_error: 21.4685 - val_loss: 782.3860 - val_mean_absolute_error: 21.9932
Epoch 18/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 768.5580 - mean_absolute_error: 21.9069 - val_loss: 787.3416 - val_mean_absolute_error: 21.9922
Epoch 19/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 753.0827 - mean_absolute_error: 21.4844 - val_loss: 783.3166 - val_mean_absolute_error: 21.9881
Epoch 20/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 785.7887 - mean_absolute_error: 22.0826 - val_loss: 780.1905 - val_mean_absolute_error: 21.8569
Epoch 21/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 761.0250 - mean_absolute_error: 21.5472 - val_loss: 777.9007 - val_mean_absolute_error: 21.8842
Epoch 22/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 771.1912 - mean_absolute_error: 21.8400 - val_loss: 776.0705 - val_mean_absolute_error: 21.8269
Epoch 23/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 760.2444 - mean_absolute_error: 21.6572 - val_loss: 773.0238 - val_mean_absolute_error: 21.7575
Epoch 24/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 769.3374 - mean_absolute_error: 21.9292 - val_loss: 776.7620 - val_mean_absolute_error: 21.8191
Epoch 25/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 743.7623 - mean_absolute_error: 21.5063 - val_loss: 773.6057 - val_mean_absolute_error: 21.5990
Epoch 26/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 759.1984 - mean_absolute_error: 21.5883 - val_loss: 772.9525 - val_mean_absolute_error: 21.5876
Epoch 27/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 717.0932 - mean_absolute_error: 20.9464 - val_loss: 771.7255 - val_mean_absolute_error: 21.6506
Epoch 28/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 755.9391 - mean_absolute_error: 21.3198 - val_loss: 766.4774 - val_mean_absolute_error: 21.6044
Epoch 29/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 748.9216 - mean_absolute_error: 21.3867 - val_loss: 771.0494 - val_mean_absolute_error: 21.8084
Epoch 30/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 730.2077 - mean_absolute_error: 21.2294 - val_loss: 770.4372 - val_mean_absolute_error: 21.6453
Epoch 31/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 750.8224 - mean_absolute_error: 21.4216 - val_loss: 763.4359 - val_mean_absolute_error: 21.6177
Epoch 32/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 754.8454 - mean_absolute_error: 21.3269 - val_loss: 763.3870 - val_mean_absolute_error: 21.5195
Epoch 33/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 721.6424 - mean_absolute_error: 20.8929 - val_loss: 762.8626 - val_mean_absolute_error: 21.4383
Epoch 34/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 723.6705 - mean_absolute_error: 21.0522 - val_loss: 768.0939 - val_mean_absolute_error: 21.3152
Epoch 35/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 744.1195 - mean_absolute_error: 21.0983 - val_loss: 757.9170 - val_mean_absolute_error: 21.3562
Epoch 36/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 718.8868 - mean_absolute_error: 20.9693 - val_loss: 771.5533 - val_mean_absolute_error: 21.2601
Epoch 37/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 719.9854 - mean_absolute_error: 20.7891 - val_loss: 758.0454 - val_mean_absolute_error: 21.5599
Epoch 38/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 725.1439 - mean_absolute_error: 21.1459 - val_loss: 756.8576 - val_mean_absolute_error: 21.5806
Epoch 39/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 720.9886 - mean_absolute_error: 20.9763 - val_loss: 756.0131 - val_mean_absolute_error: 21.1226
Epoch 40/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 705.4974 - mean_absolute_error: 20.7215 - val_loss: 756.0262 - val_mean_absolute_error: 21.2686
Epoch 41/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 734.6768 - mean_absolute_error: 20.9683 - val_loss: 755.4185 - val_mean_absolute_error: 21.1560
Epoch 42/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 741.1345 - mean_absolute_error: 20.9239 - val_loss: 751.0753 - val_mean_absolute_error: 21.3018
Epoch 43/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 702.6850 - mean_absolute_error: 20.7345 - val_loss: 755.6724 - val_mean_absolute_error: 21.1879
Epoch 44/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 673.1409 - mean_absolute_error: 20.1271 - val_loss: 754.1537 - val_mean_absolute_error: 21.2260
Epoch 45/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 684.2458 - mean_absolute_error: 20.2829 - val_loss: 749.6138 - val_mean_absolute_error: 21.2517
Epoch 46/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 727.6292 - mean_absolute_error: 21.0708 - val_loss: 753.4350 - val_mean_absolute_error: 21.1681
Epoch 47/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 711.9167 - mean_absolute_error: 20.6089 - val_loss: 750.2552 - val_mean_absolute_error: 21.3625
Epoch 48/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 698.8182 - mean_absolute_error: 20.6694 - val_loss: 750.0501 - val_mean_absolute_error: 21.1542
Epoch 49/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 709.4333 - mean_absolute_error: 20.6866 - val_loss: 745.9817 - val_mean_absolute_error: 21.2587
Epoch 50/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 710.5013 - mean_absolute_error: 20.6647 - val_loss: 748.8862 - val_mean_absolute_error: 21.4362
Epoch 51/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 670.0160 - mean_absolute_error: 20.2078 - val_loss: 752.7940 - val_mean_absolute_error: 21.1922
Epoch 52/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 702.6117 - mean_absolute_error: 20.5432 - val_loss: 749.2707 - val_mean_absolute_error: 20.9365
Epoch 53/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 678.6296 - mean_absolute_error: 20.1637 - val_loss: 751.2351 - val_mean_absolute_error: 21.0119
Epoch 54/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 704.6593 - mean_absolute_error: 20.4971 - val_loss: 745.4266 - val_mean_absolute_error: 21.2427
Epoch 55/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 684.3667 - mean_absolute_error: 20.2671 - val_loss: 745.7518 - val_mean_absolute_error: 20.9421
Epoch 56/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 681.8981 - mean_absolute_error: 20.2397 - val_loss: 751.2968 - val_mean_absolute_error: 21.3400
Epoch 57/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 670.8543 - mean_absolute_error: 20.0272 - val_loss: 748.9033 - val_mean_absolute_error: 21.0601
Epoch 58/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 689.1662 - mean_absolute_error: 20.3356 - val_loss: 744.6027 - val_mean_absolute_error: 21.0768
Epoch 59/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 682.8469 - mean_absolute_error: 20.3332 - val_loss: 745.5735 - val_mean_absolute_error: 21.2790
Epoch 60/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 684.8307 - mean_absolute_error: 20.4325 - val_loss: 747.1305 - val_mean_absolute_error: 21.2487
Epoch 61/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 682.3000 - mean_absolute_error: 20.3660 - val_loss: 744.5988 - val_mean_absolute_error: 21.3418
Epoch 62/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 656.2672 - mean_absolute_error: 19.8161 - val_loss: 742.7977 - val_mean_absolute_error: 21.1357
Epoch 63/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 648.3051 - mean_absolute_error: 19.8614 - val_loss: 751.9698 - val_mean_absolute_error: 20.9600
Epoch 64/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 666.1664 - mean_absolute_error: 20.1247 - val_loss: 744.8127 - val_mean_absolute_error: 21.2698
Epoch 65/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 717.2446 - mean_absolute_error: 20.6951 - val_loss: 749.0136 - val_mean_absolute_error: 21.1543
Epoch 66/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 692.3536 - mean_absolute_error: 20.2754 - val_loss: 744.9872 - val_mean_absolute_error: 20.9530
Epoch 67/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 650.1025 - mean_absolute_error: 19.8625 - val_loss: 743.7045 - val_mean_absolute_error: 20.9710
Epoch 68/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 678.4083 - mean_absolute_error: 20.2130 - val_loss: 748.5869 - val_mean_absolute_error: 20.8846
Epoch 69/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 669.0527 - mean_absolute_error: 19.7937 - val_loss: 745.5200 - val_mean_absolute_error: 21.3939
Epoch 70/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 673.3652 - mean_absolute_error: 20.1137 - val_loss: 745.2015 - val_mean_absolute_error: 21.2082
Epoch 71/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 645.1312 - mean_absolute_error: 19.6823 - val_loss: 749.5436 - val_mean_absolute_error: 21.0452
Epoch 72/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 637.7028 - mean_absolute_error: 19.3006 - val_loss: 747.5720 - val_mean_absolute_error: 20.9612
Epoch 73/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 643.2244 - mean_absolute_error: 19.8397 - val_loss: 745.9861 - val_mean_absolute_error: 21.0947
Epoch 74/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 640.5735 - mean_absolute_error: 19.5351 - val_loss: 748.6084 - val_mean_absolute_error: 21.3775
Epoch 75/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 641.8738 - mean_absolute_error: 19.6582 - val_loss: 746.6575 - val_mean_absolute_error: 21.3204
Epoch 76/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 651.1382 - mean_absolute_error: 19.8244 - val_loss: 744.7432 - val_mean_absolute_error: 21.0956
Epoch 77/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 622.4956 - mean_absolute_error: 19.5092 - val_loss: 751.3983 - val_mean_absolute_error: 20.9459
Epoch 78/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 623.3376 - mean_absolute_error: 19.4698 - val_loss: 745.6765 - val_mean_absolute_error: 21.0627
Epoch 79/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 652.4019 - mean_absolute_error: 19.7892 - val_loss: 748.9142 - val_mean_absolute_error: 21.0971
Epoch 80/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 679.7889 - mean_absolute_error: 20.1684 - val_loss: 748.8378 - val_mean_absolute_error: 21.1582
Epoch 81/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 660.6586 - mean_absolute_error: 19.8080 - val_loss: 744.1003 - val_mean_absolute_error: 21.1710
Epoch 82/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 635.6177 - mean_absolute_error: 19.4910 - val_loss: 749.8055 - val_mean_absolute_error: 21.3911
Epoch 83/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 626.5604 - mean_absolute_error: 19.5606 - val_loss: 744.3810 - val_mean_absolute_error: 21.0448
Epoch 84/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 679.4213 - mean_absolute_error: 20.1646 - val_loss: 752.9088 - val_mean_absolute_error: 21.6214
Epoch 85/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 637.5344 - mean_absolute_error: 19.5625 - val_loss: 744.4434 - val_mean_absolute_error: 21.2789
Epoch 86/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 623.8601 - mean_absolute_error: 19.5058 - val_loss: 755.9647 - val_mean_absolute_error: 21.6379
Epoch 87/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 672.9303 - mean_absolute_error: 20.0853 - val_loss: 743.7489 - val_mean_absolute_error: 21.0715
Epoch 88/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 629.3254 - mean_absolute_error: 19.6580 - val_loss: 741.0681 - val_mean_absolute_error: 20.9830
Epoch 89/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 636.6703 - mean_absolute_error: 19.4852 - val_loss: 748.7300 - val_mean_absolute_error: 21.0446
Epoch 90/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 650.9544 - mean_absolute_error: 19.6006 - val_loss: 744.1612 - val_mean_absolute_error: 21.1974
Epoch 91/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 667.3735 - mean_absolute_error: 19.8405 - val_loss: 743.3256 - val_mean_absolute_error: 21.1456
Epoch 92/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 613.6727 - mean_absolute_error: 19.1818 - val_loss: 747.8187 - val_mean_absolute_error: 20.9613
Epoch 93/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 629.7025 - mean_absolute_error: 19.3739 - val_loss: 747.8187 - val_mean_absolute_error: 20.9045
Epoch 94/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 620.8522 - mean_absolute_error: 19.2569 - val_loss: 746.3145 - val_mean_absolute_error: 20.8749
Epoch 95/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 637.3481 - mean_absolute_error: 19.5067 - val_loss: 751.7244 - val_mean_absolute_error: 21.4590
Epoch 96/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 651.0206 - mean_absolute_error: 19.6635 - val_loss: 747.3569 - val_mean_absolute_error: 21.0180
Epoch 97/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 648.3737 - mean_absolute_error: 19.6671 - val_loss: 743.1928 - val_mean_absolute_error: 21.0695
Epoch 98/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 627.3149 - mean_absolute_error: 19.4189 - val_loss: 744.9556 - val_mean_absolute_error: 21.1703
Epoch 99/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 624.4794 - mean_absolute_error: 19.3389 - val_loss: 741.4748 - val_mean_absolute_error: 21.1169
Epoch 100/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 638.8014 - mean_absolute_error: 19.6391 - val_loss: 744.0631 - val_mean_absolute_error: 21.0844
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 768.8977 - mean_absolute_error: 21.5974

## Random Forest (Regression Algorithm)

Random Forest is good for predicting customer income because it is robust and can handle complex, non-linear relationships. It provides insights into which features are important, works well with many features, and is flexible with different types of data. It also gives stable and reliable predictions.

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Initialize and train the Random Forest Regressor
model_rf = RandomForestRegressor(n_estimators=100, random_state=42)
model_rf.fit(X_train, y_train)

# Predict and evaluate the model
y_pred_rf = model_rf.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred_rf)

### Results

Random Forest model performs better than the Neural Network in predicting customer income. 
The Mean Absolute Error (MAE) for the Random Forest model is 13.94, which is lower than the MAE of 21.08 for the Neural Network. 
This indicates that the Random Forest model makes more accurate predictions, with a fewer errors if compared to the Neural Network.

In [17]:
#Display results
print(f'Mean Absolute Error (Neural Network): {mae_nn}')
print(f'Mean Absolute Error (Random Forest): {mae_rf}')

Mean Absolute Error (Neural Network): 21.084430694580078
Mean Absolute Error (Random Forest): 13.938956281746032

# Model Optimizations

## Neural Networks

In [19]:
from scikeras.wrappers import KerasRegressor
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from tensorflow.keras.layers import Dropout
from tensorflow.keras.optimizers import Adam, SGD, RMSprop

In [22]:
# Define a function to create the neural network model
def create_model(neurons=32, activation='relu', optimizer='adam',dropout_rate=0.0):
    model = Sequential()
    model.add(Dense(neurons, input_dim=X_train_scaled.shape[1], activation=activation))
    model.add(Dropout(dropout_rate))  # Add dropout to prevent overfitting
    model.add(Dense(neurons, activation=activation))
    model.add(Dropout(dropout_rate))  # Add dropout to prevent overfitting
    model.add(Dense(1))
    model.compile(optimizer=optimizer, loss='mean_squared_error', metrics=['mean_absolute_error'])
    return model

# Wrap the model using KerasRegressor
model_nn2 = KerasRegressor(model=create_model, verbose=0)

# Define the parameter grid
param_grid_nn = {
    'batch_size': [16, 32],
    'epochs': [50, 100],
    'model__optimizer': ['adam'],
    'model__activation': ['relu'],
    'model__neurons': [32, 64]
}

In [23]:
# Perform Randomized Search for hyperparameter tuning
random_search_nn = RandomizedSearchCV(estimator=model_nn2, param_distributions=param_grid_nn, n_iter=20, scoring='neg_mean_absolute_error', n_jobs=-1, cv=3, random_state=42)
random_result_nn = random_search_nn.fit(X_train_scaled, y_train)

# Display the best parameters from Randomized Search
print(f"Best NN: {random_result_nn.best_score_} using {random_result_nn.best_params_}")

Best NN: -21.419204104105177 using {'model__optimizer': 'adam', 'model__neurons': 64, 'model__activation': 'relu', 'epochs': 100, 'batch_size': 16}

In [24]:
# Train the best model
best_nn = random_result_nn.best_estimator_
best_nn.fit(X_train_scaled, y_train, epochs=random_result_nn.best_params_['epochs'], batch_size=random_result_nn.best_params_['batch_size'], validation_data=(X_test_scaled, y_test))

# Evaluate the neural network model
mae_nn = best_nn.score(X_test_scaled, y_test)
print(f'Mean Absolute Error (Neural Network): {mae_nn}')

Mean Absolute Error (Neural Network): 0.649674117565155

In [56]:
# Perform Grid Search for tuning
grid_search_nn = GridSearchCV(estimator=model_nn2, param_grid=param_grid_nn, scoring='neg_mean_absolute_error', n_jobs=-1, cv=3)
grid_result_nn = grid_search_nn.fit(X_train_scaled, y_train)

# Display the best parameters from grid search
print(f"Best NN: {grid_result_nn.best_score_} using {grid_result_nn.best_params_}")

Best NN: -21.21241191878715 using {'batch_size': 32, 'epochs': 100, 'model__activation': 'relu', 'model__neurons': 64, 'model__optimizer': 'adam'}

## Random Forest

In [ ]:
# Define the parameter grid for random forest model
param_grid_rf = {
    'n_estimators': [50, 100, 200],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

In [ ]:
# Perform Randomized Search for random forest model
random_search_rf = RandomizedSearchCV(estimator=model_rf, param_distributions=param_grid_rf, n_iter=20, scoring='neg_mean_absolute_error', n_jobs=-1, cv=3, random_state=42)
random_result_rf = random_search_rf.fit(X_train, y_train)

# Display the best parameters from randomized search for random forest model
print(f"Best RF: {random_result_rf.best_score_} using {random_result_rf.best_params_}")

## New customers predictions

In [54]:
import random

# Function to generate random customer data
def generate_customer():
    return {
        'Age': random.randint(18, 80),
        'Experience_years': random.randint(1, 50),
        'Family': random.randint(1, 5),
        'Credit Score': round(random.uniform(0.5, 4.0), 2),
        'Education': random.choice(['Diploma', 'Degree', 'Masters']),
        'Mortgage_thousands': 0 if random.random() < 0.4 else random.randint(1, 500),
        'Personal Loan': random.choice(['Yes', 'No']),
        'Securities Account': random.choice(['Yes', 'No']),
        'CD Account': random.choice(['Yes', 'No']),
        'Online Banking': random.choice(['Yes', 'No']),
        'CreditCard': random.choice(['Yes', 'No'])
    }

In [55]:
# Generate 10 random new customers
new_customers = [generate_customer() for _ in range(10)]

# Convert new customers to DataFrame
new_customers_df = pd.DataFrame(new_customers)

# Encode categorical variables
categorical_columns = ['Education', 'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking', 'CreditCard']
new_customers_encoded = pd.get_dummies(new_customers_df, columns=categorical_columns, drop_first=True)

# Ensure all columns are present
new_customers_encoded = new_customers_encoded.reindex(columns=X.columns, fill_value=0)

# Scale features
new_customers_scaled = scaler.transform(new_customers_encoded)

# Make predictions using the improved neural network model
predicted_incomes = best_nn.predict(new_customers_scaled)

# Add predicted incomes to the new customers DataFrame
new_customers_df['Predicted Income'] = predicted_incomes

# Display the new customers with their predicted incomes
new_customers_df

,Age,Experience_years,Family,Credit Score,Education,Mortgage_thousands,Personal Loan,Securities Account,CD Account,Online Banking,CreditCard,Predicted Income
0,80,4,1,3.45,Degree,0,No,No,Yes,No,Yes,113.887711
1,41,28,3,1.01,Degree,0,Yes,No,Yes,No,No,150.244446
2,75,39,2,1.77,Degree,216,No,No,No,No,No,65.829163
3,53,49,3,1.06,Diploma,0,No,Yes,No,No,No,54.433525
4,35,49,1,1.71,Diploma,277,No,Yes,No,No,No,71.219551
5,54,39,2,1.65,Masters,153,Yes,Yes,Yes,Yes,No,143.066864
6,33,39,5,2.47,Masters,0,Yes,Yes,No,Yes,Yes,125.179474
7,68,26,1,0.51,Diploma,379,Yes,No,No,No,No,147.595779
8,36,12,2,3.59,Diploma,98,Yes,No,No,Yes,Yes,81.169662
9,38,50,1,1.58,Diploma,414,Yes,No,Yes,No,No,121.551666

# Sentiment Analysis - Game of thrones Tweets

In [ ]:
import re
from transformers import pipeline
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load full dataset with selected columns
df_full = pd.read_csv('gotTwitter.csv', usecols=['text', 'created_at', 'screen_name'])

In [ ]:
# Select a random subset of 2000 rows
df_got = df_full.sample(n=1000, random_state=35).reset_index(drop=True)

# Display the first few rows of the random subset
df_got.head()

In [ ]:
# Function to clean the tweet text
def clean_text(text):
    text = re.sub(r'http\S+', '', text)  # Remove URLs
    text = re.sub(r'@\w+', '', text)  # Remove mentions
    text = re.sub(r'#\w+', '', text)  # Remove hashtags
    text = re.sub(r'\d+', '', text)  # Remove numbers
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation
    text = text.lower()  # Convert to lowercase
    return text

# Apply the cleaning function to the tweet text
df_got['cleaned_text'] = df_got['text'].apply(clean_text)

In [ ]:
# Load the sentiment analysis pipeline with a specified model
sentiment_pipeline = pipeline('sentiment-analysis', model='nlptown/bert-base-multilingual-uncased-sentiment')

In [ ]:
# Function to map model output to positive, neutral, and negative sentiments
def map_sentiment(label):
    score = int(label.split()[0])  # Extract the score from the label (e.g., '3 stars')
    if score == 1 or score == 2:
        return 'negative'
    elif score == 3:
        return 'neutral'
    else:
        return 'positive'

# Apply the sentiment analysis pipeline to the cleaned text with progress bar
tqdm.pandas()
df_got['sentiment'] = df_got['cleaned_text'].progress_apply(lambda x: map_sentiment(sentiment_pipeline(x)[0]['label']))

In [ ]:
# Display the first few sentiment results
df_got[['cleaned_text', 'sentiment']].head()

## Barchart of amount ot tweets per sentiment

In [ ]:
# Count the number of each sentiment
sentiment_counts = df_got['sentiment'].value_counts()

# Plot the sentiment distribution
plt.figure(figsize=(8, 6))
sns.barplot(x=sentiment_counts.index, y=sentiment_counts.values, palette=['#ff9999','#66b3ff','#99ff99'])
plt.title('Sentiment Distribution of Game of Thrones Tweets')
plt.xlabel('Sentiment')
plt.ylabel('Count')
plt.show()

## Piechart of sentiment distribution

In [ ]:
# Count the number of each sentiment
sentiment_counts = df_got['sentiment'].value_counts()

# Plot the pie chart
plt.figure(figsize=(8, 8))
plt.pie(sentiment_counts, labels=sentiment_counts.index, autopct='%1.1f%%', startangle=140, colors=['#ff9999','#66b3ff','#99ff99'])
plt.title('Sentiment Distribution of Game of Thrones Tweets')
# plt.axis('equal')  # Equal aspect ratio ensures the pie is drawn as a circle.
plt.show()

## Wordcloud

In [ ]:
# !pip install wordcloud

In [ ]:
from wordcloud import WordCloud

# Function to generate word cloud
def generate_wordcloud(text, title):
    wordcloud = WordCloud(width=800, height=400, background_color='white').generate(text)
    plt.figure(figsize=(10, 5))
    plt.imshow(wordcloud, interpolation='bilinear')
    plt.title(title, fontsize=20)
    plt.axis('off')
    plt.show()

# Generate word clouds for different sentiments
positive_text = ' '.join(df_got[df_got['sentiment'] == 'positive']['cleaned_text'])
neutral_text = ' '.join(df_got[df_got['sentiment'] == 'neutral']['cleaned_text'])
negative_text = ' '.join(df_got[df_got['sentiment'] == 'negative']['cleaned_text'])

generate_wordcloud(positive_text, 'Positive Sentiment Words')
generate_wordcloud(neutral_text, 'Neutral Sentiment Words')
generate_wordcloud(negative_text, 'Negative Sentiment Words')

## Sentiment over time

In [ ]:
# Convert 'created_at' to datetime
df_got['created_at'] = pd.to_datetime(df_got['created_at'])

# Resample to get weekly sentiment counts
weekly_sentiment = df_got.set_index('created_at').resample('W')['sentiment'].value_counts().unstack().fillna(0)

# Plot the sentiment over time
weekly_sentiment.plot(kind='line', marker='o', figsize=(8, 4),color=['#ff9999','#66b3ff','#99ff99'])
plt.title('Sentiment Over Time')
plt.xlabel('Week')
plt.ylabel('Count')
plt.legend(title='Sentiment',bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()